body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgba(255, 220, 226, 0.918);
    color: black;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

.pref-panel {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgb(240, 130, 176);
    font-size: 16px;
}

.level-panel {
    font-weight: 900;
}

.mode-panel {
    margin-top: 15px;
}

.noqns-panel {
    margin-top: 15px;
}

#applyChangeBtn {
    height: 35px;
    width: 99%;
    margin-top: 10px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 3px rgb(41, 40, 40);
}

#applyChangeBtn:hover {background-color: rgb(250, 208, 215)}

#applyChangeBtn:active {
    background-color: rgb(255, 155, 174);
    color: white;
    box-shadow: 0px 1px rgb(69, 68, 68);
}

.question {
    font-size: 36px;
}

#user-answer {
    height: auto;
    width: 140px;
    padding: 3px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
}

#submitBtn {
    height: auto;
    padding: 3px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
}

#submitBtn:active {
    background-color: pink;
    color: white;
}

.feedback {
    margin-top: 20px;
    font-size: 24px;
}